.profile-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-width: 300px;
  padding: 30px;
  background-color: rgb(206, 152, 198);
  border: 2px solid rgb(102, 21, 79);
  border-radius: 5px;
  font-size: 20px;
}
